#wedCouple{
  text-shadow: 0 0 7px black;
  font-size: 30px;
}

 #wedCouple, #date, .header, .invitation, .dontMiss, .wedDetail, .contact, .wedBottom
{
  font-family: cursive !important;
  font-style: italic;
}
.detail span h3{
  font-family: Georgia;
}

.home{
  background-image: url('pc3.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
}
.header{
  display: flex;
  width: 100%;
  border-bottom:1px solid rgb(199, 199, 199);
  height: 70px;
  color: white;
  justify-content: center;
}
.header h1{
  font-size: 3.5rem;
}
#demo{
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
  font-weight: bold;
  
}
.custom-Container{
  width: 100%;
}
#date{
  color: white;
  text-shadow: 0 0 7px black;
}
#wedCouple{
  color: white;
  font-weight: 600;
}
.col2{
  width: 100%;
  background-image: url('cards2.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 400px;
}
.col3{
  width: 100%;
  background-image: url('weddingStage1.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 400px;
}
.col4{
  width: 100%;
  /* background-image: url('invitCard.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 583px; */
}
.col5{
  width: 100%;
}
.col5 img{
  width: 100%;
  max-height: 300px;
}
.col7{
  width: 100%;
  background-image: url('pc2.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 200px;
}
.divBlock
{
  margin: 0% 30%;
  margin-bottom: 33px;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

.separator2 {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator2::before, .separator2::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid white;
}
.separator2::before {
  margin-right: .25em;
}
.separator2::after {
  margin-left: .25em;
}

.separator3 {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator3::before, .separator3::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid black;
}
.separator3::before {
  margin-right: .25em;
}
.separator3::after {
  margin-left: .25em;
}
.dot {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid white;
  display: inline-block;
  color: white;
  margin: 0px 8px;
}
.dot2 {
  height: 15px;
  width: 15px;
  background-color: rgb(241, 121, 91);
  border-radius: 50%;
  display: inline-block;
  border: 1px solid blue;
}
.detail{
  box-shadow: 0 0 3px 0px black;
  padding: 20px 0px;
  margin: 6px;
  border-radius: 20px;
}
.detail span p{
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: gray;
}


@media (max-width:500px){

}

